@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition{
    navigation : auto;
}
.bg, .bg1, .bg2 {
    will-change: transform; 
}
html{
    background: #000;
    overflow: hidden;
}
text{
    touch-action: pan-y !important;
    overflow: hidden;
}
.registration {
    overflow-y: scroll; /* Ensure scrolling is enabled */
  }
  
  .registration::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit-based browsers */
  }
  
  .registration {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
  .registration {
    -ms-overflow-style: none; /* Hide scrollbar for IE and older Edge */
  }
  
